include partials/master

.container-fluid
    h2.text-center Статистика
    h3 Ваше имя: 
        span.nickname #{nickname}
    h3 Количество досок: 
        span.nickname #{boardsCount}
    h3 Общее количество сообщений: 
        span.nickname #{messagesCount}
